<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="9f78ee85-fa75-4245-ab03-dae3c93fd80b" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://petstore.swagger.io" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="9f78ee85-fa75-4245-ab03-dae3c93fd80bfileName">http%3A%2F%2Fpetstore.swagger.io</con:setting></con:settings><con:definitionCache/><con:endpoints><con:endpoint>http://petstore.swagger.io</con:endpoint><con:endpoint>https://petstore.swagger.io</con:endpoint></con:endpoints></con:interface>