<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="fb2d6644-f0a9-472c-a1e9-89f6aebab187" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="fb2d6644-f0a9-472c-a1e9-89f6aebab187fileName">TestSuite-1</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>